<!-- Designed by ____ on February ____ -->
<!-- Modified by Brendon Wolfe on February 19th -->
<!-- Modified by Brendon Wolfe on February 25th -->

{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" type="text/css" href="{% static 'fitness/header.css' %}">
        <title>FitCrawler</title>
    </head>
    <body> 
        <header class="header">
            <img src="{% static 'fitness/fitcrawlerLogo.png' %}" alt="FitCrawler Logo" class="logo">
            <h2><a href="{% url 'fitness:home' %}" class="button">Home</a></h2>
            <h2><a href="{% url 'exercises:search_exercises' %}" class="button">Search Exercises</a></h2>
            <h2><a class="button">View Leaderboard</a></h2>
            {% if user.is_authenticated %}
            <h2><a class="button js-profile">Profile</a></h2>
            <div class="popup" id="js-popup">
                <div class="username"> {{ user.username }} </div>
                
                <form action="{% url 'gym:logout' %}" method="POST">
                    {% csrf_token %}
                    <button type="submit" class="button">Logout</button>
                </form>
            </div>
            {% else %}
            <h2><a href="{% url 'gym:signup' %}" class="button">Sign Up</a></h2>
            <h2><a href="{% url 'gym:login' %}" class="button">Login</a></h2>
            {% endif %}
        </header>

        <div class="header-space"></div>

            {% block content %}

            {% endblock %}
    </body>

    <script src="{% static 'fitness/header.js' %}"></script>
</html>