<!-- Designed by Eli Sepulveda on February 17th -->
<!-- Modified by Eli Sepulveda on February 19th -->
<!-- Modified by Brendon Wolfe on February 25th to include a popup -->

{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" type="text/css" href="{% static 'fitness/header.css' %}">
        <title>FitCrawler</title>
    </head>
    <body> 
        <header class="header">
            <div class="logoDiv">
                <a href="{% url 'fitness:home' %}" class="home_link_logo">
                    <img src="{% static 'fitness/fitcrawlerLogo.png' %}" alt="FitCrawler Logo" class="logo">
                </a>
            </div>
            <div class="buttonDiv">
                <h2><a href="{% url 'fitness:home' %}" class="button">Home</a></h2>
                <h2><a href="{% url 'exercises:search_exercises' %}" class="button">Exercises</a></h2>
                {% if user.is_authenticated and user.user_type == 'FitKnight' %}
                    <h2><a href="{% url 'dungeon:view_inventory' %}" class="button">Inventory</a></h2>
                {% endif %}
                {% if user.is_authenticated %}
                <h2><a class="button js-profile">Profile</a></h2>
                <div class="popup" id="js-popup">
                    <h2 class="username">{{ user.username }}</h2>
                    <h2><a href="{% url 'fitness:profile' %}" class="profileButton">Profile</a></h2>
                    <form action="{% url 'gym:logout' %}" method="POST">
                        {% csrf_token %}
                        <button type="submit" class="button">Logout</button>
                    </form>
                </div>
                {% else %}
                <h2><a href="{% url 'gym:signup' %}" class="button">Sign Up</a></h2>
                <h2><a href="{% url 'gym:login' %}" class="button">Login</a></h2>
                {% endif %}
            </div>
            
        </header>

        <div class="header-space"></div>

            {% block content %}

            {% endblock %}
    </body>

    <script src="{% static 'fitness/header.js' %}"></script>
</html>