{% extends 'gym/header.html' %}

{% block content%}

{% if user.gym is None and user.is_authenticated %}

<h2><a href="{% url 'gym:join_gym' %}">Join a gym!</a></h2>

    {% if user.user_type == "FitGuildOfficer" %}
    <h2><a href="{% url 'gym:create_gym' %}">Create a gym!</a></h2>
    {% endif %}


{% elif user.is_authenticated and user.user_type == 'FitGuildOfficer' and user.gym %}

<h3>Hello FitGuildOfficer {{ user.username }}</h3>
<h3>Your Gym Name is: {{ user.gym.name }}</h3>
<h3>Your Gym Code is: {{ user.gym.join_code }}</h3>
<h2><a href="{% url 'gym:list_applications' %}">View Your Gym's Applications</a></h2>
<h2><a href="{% url 'fitness:search_knights' %}">Search Knights</a></h2>
    
{% elif user.is_authenticated and user.user_type == 'FitKnight' %}
<h3>Hello FitKnight {{ user.username }}</h3>
    {% if user.is_authenticated and user.user_type == 'FitKnight' and user.gym %}
    <h3>Your Gym Name is: {{ user.gym.name }}</h3>
    {% endif %}
    <h2><a>Inventory</a></h2>
    <h2><a href="{% url 'fitness:view_current_tasks' %}">Today's Fit-Quests</a></h2>
    
{% else %}
<h2> Hello There! </h2>
<h2> Want to compete? Sign in to complete challenges and earn rewards!</h2>

{% endif %}

<h2><a href="{% url 'exercises:search_exercises' %}">Search Exercises</a></h2>
<h2><a>View Leaderboard</a></h2>


{% endblock %}