

{% extends 'fitness/header.html' %}
{% load static %}
{% block content%}

<body>
    <link rel="stylesheet" type="text/css" href="{% static 'fitness/home.css' %}">

    <div class="container">
        <div class="sidebar">
            {% if user.gym is None and user.is_authenticated and user.user_type == 'FitKnight' %}
                <div class="logoDivHome">
                    <img src="{% static 'fitness/fitcrawlerLogo.png' %}" alt="FitCrawler Logo" class="logo">
                </div>
                <h3 class="greeting">Hello FitKnight {{user.username}}!</h3>
                <h2><a href="{% url 'gym:join_gym' %}">Join A Gym To Get Started!</a></h2>
            {% elif user.gym is None and user.is_authenticated and user.user_type == 'FitGuildOfficer' %}
                <div class="logoDivHome">
                    <img src="{% static 'fitness/fitcrawlerLogo.png' %}" alt="FitCrawler Logo" class="logo">
                </div>
                <h3 class="greeting">Hello FitGuildOfficer {{user.username}}!</h3>
                <h2><a href="{% url 'gym:create_gym' %}">Create A Gym!</a></h2>
            {% elif user.is_authenticated and user.user_type == 'FitGuildOfficer' and user.gym %}
                <div class="logoDivHome">
                    <img src="{% static 'fitness/fitcrawlerLogo.png' %}" alt="FitCrawler Logo" class="logo">
                </div>
                <h3 class="greeting">Hello FitGuildOfficer {{user.username}}!</h3>
                <h3 class="gymName">Your Gym Name is: {{ user.gym.name }}</h3>
                <h3 class="gymCode">Your Gym Code is: {{ user.gym.join_code }}</h3>
                <h2><a href="{% url 'gym:list_applications' %}" class="button">View Your Gym's Applications</a></h2>
                <h2><a href="{% url 'gym:search_knights' %}" class="button">Search Knights</a></h2>
                
            {% elif user.is_authenticated and user.user_type == 'FitKnight' %}
                <div class="logoDivHome">
                    <img src="{% static 'fitness/fitcrawlerLogo.png' %}" alt="FitCrawler Logo" class="logo">
                </div>
                <h3 class="greeting">Hello FitKnight {{user.username}}!</h3>
                {% if user.is_authenticated and user.user_type == 'FitKnight' and user.gym %}
                    <h3 class="gymName">Your Gym Name is: {{ user.gym.name }}</h3>
                {% endif %}
                <h2><a href="{% url 'fitness:view_current_tasks' %}">Fit-Quests</a></h2>
                <h2><a href="{% url 'dungeon:dungeon_select' %}">Explore Dungeon</a></h2>
            {% else %}
                <div class="logoDivHome">
                    <img src="{% static 'fitness/fitcrawlerLogo.png' %}" alt="FitCrawler Logo" class="logo">
                </div>
                <h2> Hello There! </h2>
                <h2> Want to compete? Sign in to complete challenges and earn rewards!</h2>
            {% endif %}
        </div>
        <div class="leaderboard">
            {% if global_board %}
                <h1>Global Leaderboard</h1>
            {% elif user.is_authenticated and user.gym and not global_board %}
                <h1>{{ user.gym.name }} Leaderboard</h1>
            {% endif %}
            
            <ul class="board">
                {% for l_user_name, l_coins, l_pfp in leaderboard %}
                        <div class="board_user">
                            <div class="left">
                                <img src="{% static l_pfp %}" class="board_pfp">
                                <h3>{{l_user_name}} </h3>
                            </div>
                            <div class="center">
                                <h3> - </h3>
                            </div>
                            <div class="right">
                                <h3>{{l_coins}}</h3>
                            </div>
                        </div>
                {% endfor %}
                    </ul>

            <form method="GET" class="leaderboard form">
                {% if user.is_authenticated and user.gym and global_board %}
                    <input hidden type="checkbox" name="gym_board" checked id="id_global_board_checkbox">
                    <button type="submit" class="swapLeaderboard"><h4>View My Gym's Leaderboard</h4></button>
                {% elif not global_board %}
                    <input hidden type="checkbox" name="gym_board" id="id_global_board_checkbox">
                    <button type="submit" class="swapLeaderboard"><h4>View Global Leaderboard</h4></button>
                {% endif %}
            </form>

        </div>
    </div>
</body>

{% endblock %}