<!-- Designed by Brendon Wolfe on March 6th -->

{% extends 'fitness/header.html' %}
{% load static %}
{% block content%}
<link rel="stylesheet" type="text/css" href="{% static 'fitness/profile.css' %}">

<body>
    <div class="left">
        <img src="{% static pfp %}" class="profilePic">
        <p class="badgeTitle">Profile Pictures</p>
        <div class="badgeContainer">
            <a href="{% url 'fitness:set_profile_picture' 0 %}"><img src="{% static 'gym/pfp/default.png' %}" class="badges"></a>
            <a href="{% url 'fitness:set_profile_picture' 1 %}"><img src="{% static 'gym/pfp/p2.png' %}" class="badges"></a>
            <a href="{% url 'fitness:set_profile_picture' 2 %}"><img src="{% static 'gym/pfp/p3.png' %}" class="badges"></a>
        </div>
        <div class="badgeContainer">
            <a href="{% url 'fitness:set_profile_picture' 3 %}"><img src="{% static 'gym/pfp/p4.png' %}" class="badges"></a>
            <a href="{% url 'fitness:set_profile_picture' 4 %}"><img src="{% static 'gym/pfp/p5.png' %}" class="badges"></a>
            <a href="{% url 'fitness:set_profile_picture' 5 %}"><img src="{% static 'gym/pfp/p6.png' %}" class="badges"></a>
        </div>
    </div>
    <div class="right">
        <div class="row">
            <p class="text">{{user.username}}</p>
            <p class="text">{{user.email}}</p>
            <h4><a href="{% url 'gym:change_password' %}" class="button">Change Password</a></h4>
        </div>
        <div class="row">
            {% if officer %}
                <p class="text">{{ officer.username }}</p>
                <p class="text">{{ officer.email }}</p>
                <p class="text">{{ user.gym.name }}</p>
            {% else %}
                <p class="text">No officer found.</p>
                <p class="text">N/A</p>
                <p class="text">No gym found</p>
            {% endif %}
        </div>
    </div>
</body>

{% endblock %}