{% extends 'gym/base.html' %}

{% block content %}

<h1>Knights in Your Gym</h1>

<div class='error-message'>
    <p>{{ error }} </p>
</div>


<form method="GET" class="search-knights-form">
    <label for="id_knight_name">Knight Name:</label>
    <input type="text" name="knight_name" value="{{ search_query }}" maxlength="255" id="id_knight_name">
    <button type="submit">Search</button>
</form>

<div class="list-div">
    {% if knights %}
        <ul>
        {% for knight_id, knight_username, knight_email in knights %}
            <li>
                <a>
                {{ knight_username }} ({{ knight_email }})
                </a>
            </li>
        {% endfor %}
        </ul>
    {% else %}
    <p>No matching knights found.</p>
    {% endif %}
</div>

<div>
    {% if previous %}
    <a href="{% url 'fitness:search_knights' %}?page={{previous}}&knight_name={{search_query}}">Prev</a>
    {% endif %}
    {{ page_number }}
    {% if next %}
    <a href="{% url 'fitness:search_knights' %}?page={{next}}&knight_name={{search_query}}">Next</a>
    {% endif %}

</div>

{% endblock %}