{% extends 'fitness/header.html' %}
{% load static %}
{% block content%}
<link rel="stylesheet" type="text/css" href="{% static 'fitness/view_current_tasks.css' %}">


    <div class='error-message'>
        <p>{{ error }} </p>
    </div>

    <h1>Daily Quests</h1>

    <p>Walked {{mins_walk}} minutes out of {{walk_goal}} minutes.</p>
    <progress value="{{mins_walk}}" max="{{walk_goal}}"></progress>
    <p>Drank {{water}} Liters of water out of {{water_goal}} Liters.</p>
    <progress value="{{water}}" max="{{water_goal}}"></progress>
    <p>Consumed {{fruit_veg}} servings of fruits and vegetables out of {{fruit_veg_goal}} servings.</p>
    <progress value="{{fruit_veg}}" max="{{fruit_veg_goal}}"></progress>

    <p>
        <a href="{% url 'fitness:complete_daily' %}">
        Report Daily Quest Progress
        </a>
    </p>

    <h1>Today's Fit-Quests<h1>

    {% if task_rows %}
        <ul>
        {% for task_id, task_name in task_rows %}
            <li>
                <a href="{% url 'fitness:task_details' task_pk=task_id %}">
                {{task_name}}
                </a>
            </li>
        {% endfor %}
        </ul>
    {% else %}
        <h3>All Fit-Quests Complete</h3>
    {% endif %}


{% endblock %}