/* Designed by Brendon Wolfe on March 6th */
/* Modified by Brendon Wolfe for consistency on April 7th */

@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;700&display=swap');

body {
    font-family: 'Rajdhani', sans-serif;
    background-color: #121212;
    color: white;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.left {
    width: 30%;
    background-color: #232323;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 4vh;
    border: 2px solid #39FF14;
    border-left: none;
}

.profilePic {
    width: 10vw;
    height: 10vw;
    border-radius: 50%;
    background-color: #39FF14;
    margin-bottom: 1.5vh;
    box-shadow: 0px 0px 10px rgba(255, 221, 87, 0.8);
}

.profileTitle {
    font-size: 1.4rem;
    color: #ffdd57;
    text-shadow: 2px 2px 10px rgba(255, 221, 87, 0.8);
    font-weight: bold;
    margin-bottom: 1.5vh;
}

.profileContainer{
    display: flex;
}

.profilePict {
    width: 5vw;
    height: 5vw;
    background-color: #39FF14;
    border-radius: 50%;
    margin: .75vh;
    box-shadow: 0px 0px 10px rgba(255, 221, 87, 0.8);
}

.right {
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1.5vh;
    margin: 0 2vw;
    background-color: #232323;
    border-radius: 16px;
    box-shadow: 0rem 0rem 1rem rgb(200, 188, 13);
}

.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2vh;
    border-bottom: 1px solid #39FF14;
}

.text {
    font-size: 1.2rem;
    color: white;
    font-weight: 400;
}


.button:hover {
    background-color: #28a828;
}