<!DOCTYPE html>
<html lang="en">
    <body> 

        <a href="{% url 'fitness:home' %}" class="button">Home</a>

        {% if user.is_authenticated %}
        <div class="username"> {{ user.username }} </div>

        <form action="{% url 'gym:logout' %}" method="POST">
            {% csrf_token %}
            <button type="submit" class="button">Logout</button>
        </form>

        {% else %}
        <div class="authentication">
            <a href="{% url 'gym:signup' %}" class="button">Sign Up</a>
            <a href="{% url 'gym:login' %}" class="button">Login</a>
        </div>
        {% endif %}

        {% block content %}

        {% endblock %}

    </body>
</html>