{% extends 'fitness/header.html' %}
{% load static %}
{% block content%}
<link rel="stylesheet" type="text/css" href="{% static 'gym/signup.css' %}">

<h1>Change Password</h1>

<div class='error-message'>
    <p>{{ error}} </p>
</div>

<form method="POST" class="signup-form">
    {% csrf_token %}
    <p>
        <label for="id_password0">Current Password:</label>
        <input type="password" name="original_password" maxlength="63" required id="id_password0">

    </p>

    <p>
        <label for="id_password1">New Password:</label>
        <input type="password" name="new_password1" maxlength="63" required id="id_password1">
        <label for="id_password2">Confirm New Password:</label>
        <input type="password" name="new_password2" maxlength="63" required id="id_password2">
    </p>


    <button type="submit">Submit</button>
</form>


{% endblock %}