{% extends 'fitness/header.html' %}
{% load static %}
{% block content %}

<link rel="stylesheet" type="text/css" href="{% static 'gym/login.css' %}">

<body>
    <h1 class="loginText">Login</h1>

    <div class='error-message'>
        <p>{{ error}} </p>
    </div>

    <form method="POST" class="login-form">
        {% csrf_token %}
        <p>
        <label for="id_username">Username:</label>
        <input type="text" name="username" maxlength="63" required id="id_username">
        </p>

        <p>
        <label for="id_password">Password:</label>
        <input type="password" name="password" maxlength="63" required id="id_password">
        </p>

        <button type="submit" class="loginButton">Login</button>
    </form>
    <p>Don't have an account?</p>
    <h2><a href="{% url 'gym:signup' %}" class="signupButton">Sign Up</a></h2>
</body>

{% endblock %}