{% extends 'fitness/header.html' %}
{% load static %}
{% block content %}

<link rel="stylesheet" type="text/css" href="{% static 'gym/search_knights.css' %}">

<div class="container">
    <h1>Knights in Your Gym</h1>

    <div class='error-message'>
        <p>{{ error }} </p>
    </div>


    <form method="GET" class="search-knights-form">
        <label for="id_knight_name">Knight Name:</label>
        <input type="text" name="knight_name" value="{{ search_query }}" maxlength="255" id="id_knight_name">
        <button type="submit">Search</button>
    </form>

    <div class="list-div">
        {% if knights %}
            <ul>
            {% for knight_id, knight_username, knight_email in knights %}
                <li>
                    {{ knight_username }} ({{ knight_email }})
                    <a href="{% url 'fitness:assign_task_for_knight' knight_id=knight_id %}" class="btn">
                        Assign Task
                    </a>
                    &nbsp &nbsp
                    <a href="{% url 'gym:remove_member' knight_id=knight_id %}" class="btn btn-danger">
                        Remove Member
                    </a>
                </li>
            {% endfor %}
            </ul>
        {% else %}
        <p class="noResults">No matching knights found.</p>
        {% endif %}
    </div>
</div>

<div class="footer">
    {{ page_number }}
    {% if previous %}
    <a href="{% url 'gym:search_knights' %}?page={{previous}}&knight_name={{search_query}}">Prev</a>
    {% endif %}
    {% if next %}
    <a href="{% url 'gym:search_knights' %}?page={{next}}&knight_name={{search_query}}">Next</a>
    {% endif %}

</div>

{% endblock %}