{% extends 'fitness/header.html' %}

{% block content %}

<h1>Create Exercise</h1>

<div class='error-message'>
    <p>{{ error }} </p>
</div>


<form method="POST" class="create-exercise-form">
    {% csrf_token %}
    <p>
        <label for="id_exercise_name">Exercise Name:</label>
        <input type="text" name="exercise_name" maxlength="255" required id="id_exercise_name">
    </p>
    
    <p>
        <label for="id_exercise_description">Instructions:</label>
        <textarea type="text" name="description" maxlength="511" required id="id_exercise_description"></textarea>
    </p>
    
    <p>
        <label for="id_video_link">Video Link:</label>
        <input type="text" name="video_link" id="id_video_link">
    </p>

    <button type="submit">Create</button>
</form>



{% endblock %}