<!-- Designed by Jason Kauppila on February 15th -->
<!-- Modified by Brendon Wolfe for CSS compatibility on February 16th -->

{% extends 'fitness/header.html' %}
{%load static %}

{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'exercises/search_exercises.css' %}">

<div class="container">
    <h1>Search Exercises</h1>

    <div class='error-message'>
        <p>{{ error }} </p>
    </div>


    <form method="GET" class="search-exercises-form">
        <label for="id_exercise_name">Exercise Name:</label>
        <input type="text" name="exercise_name" value="{{ search_query }}" maxlength="255" id="id_exercise_name">
        <button type="submit">Search</button>
    </form>

    <div class="list-div">
        <ul>
        {% for exercise_id, exercise_name in exercises %}
            <li>
                <a href="{% url 'exercises:view_exercise' exercise_id %}">
                {{exercise_name}}
                </a>
            </li>
        {% endfor %}
        </ul>
    </div>

    {% if user.is_authenticated and user.user_type == 'FitGuildOfficer' %}
    <h2><a href="{% url 'exercises:create_exercise' %}" class="button">Add an exercise!</a></h2>
    {% endif %}
</div>

<div class="logoDivSearch">
    <img src="{% static 'fitness/fitcrawlerLogo.png' %}" alt="FitCrawler Logo" class="logo">
</div>


<div class="footer">
    
    
    {% if previous %}
    <h2><a href="{% url 'exercises:search_exercises' %}?page={{previous}}&exercise_name={{search_query}}" class="active_next">Prev</a></h2>
    {% else %}
    <h2 class="inactive_next">Prev</h2>
    {% endif %}
    <h2> {{ page_number }} </h2>
    {% if next %}
    <h2><a href="{% url 'exercises:search_exercises' %}?page={{next}}&exercise_name={{search_query}}" class="active_next">Next</a></h2>
    {% else %}
    <h2 class="inactive_next">Next</h2>
    {% endif %}

</div>



{% endblock %}