{% extends 'gym/header.html' %}

{% block content %}
  <h1>{{ exercise_name }}</h1>
  <p>Description: {{ exercise_description }}</p>

  <a href="{% url 'exercises:search_exercises' %}">Return to Search</a>

<div class="list-div">
    {% if exercise_video %}
      <ul>
        {% for video_id, video_embed_id in exercise_video %}
        <iframe width="560" height="315"
            src="https://www.youtube.com/embed/{{ video_embed_id }}"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen>
        </iframe>
        <!-- DEBUG LINK <br>
        <a href="https://www.youtube.com/watch?v={{ video_embed_id }}" target="_blank">
            Watch on YouTube
        </a> -->
        {% endfor %}
      </ul>
    {% else %}
      <p>No video available for this exercise.</p>
    {% endif %}
</div>

{% if user.is_authenticated and user.user_type == 'FitGuildOfficer' %}

{% endif %}

{% endblock %}