<!-- Designed by Eli Sepulveda on February 17th -->
<!-- Modified by Brendon Wolfe on March 7th -->

{% extends 'fitness/header.html' %}
{% load static %}

{% block content %}

  <link rel="stylesheet" type="text/css" href="{% static 'exercises/view_exercises.css' %}">

  <body>
    <div class="container">
      <div class="detail_div">
        <h1 class="exercise_name">{{ exercise_name }}</h1>
        <p class="exercise_description">Description: {{ exercise_description }}</p>
      </div>
     
      <div class="video_div">
          {% if exercise_video %}
            <ul>
              {% for video_id, video_embed_id in exercise_video %}
              <iframe
                  src="https://www.youtube.com/embed/{{ video_embed_id }}"
                  frameborder="0"
                  allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                  allowfullscreen>
              </iframe>
              <!-- DEBUG LINK <br>
              <a href="https://www.youtube.com/watch?v={{ video_embed_id }}" target="_blank">
                  Watch on YouTube
              </a> -->
              {% endfor %}
            </ul>
          {% else %}
            <p>No video available for this exercise.</p>
          {% endif %}
      </div>
    </div>
    <div class="button_div">
      <a href="{% url 'exercises:search_exercises' %}" class="return_button">Return to Search</a>  
    </div>
    
    {% if user.is_authenticated and user.user_type == 'FitGuildOfficer' %}
    
    {% endif %}
  </body>

{% endblock %}