{% extends 'fitness/header.html' %}
{% load static %}

{% block content %}

    <link rel="stylesheet" type="text/css" href="{% static 'dungeon/view_dungeon.css' %}">

    <div class='error-message'>
        {% if exhausted %}
        <h1>You are too exhausted to move!</h1>
        {% endif %}
    </div>

    <div class="screen_container">
        <div class="dungeon_screen_container">
            {% if chest %}
            <a class="dungeon_overlay" href="{% url 'dungeon:open_chest'%}">
                <img class="dungeon_overlay" src="{% static chest %}" width="512" height="384">
            </a>
            {% endif %}

            {% if portal %}
            <a class="dungeon_overlay" href="{% url 'dungeon:dungeon_exit'%}">
                <img class="dungeon_overlay" src="{% static portal %}" width="512" height="384">
            </a> 
            {% endif %}

            <img class="dungeon_background" src="{% static background %}" width="512" height="384">
        </div>


        <div class="inventory_container">
            <div class="itemSlot">
                <img src="{% static inventory.sword_info.path %}" width="64" height="64">
                <h2>{{inventory.sword_info.name}}</h2>
            </div>
        
            <div class="itemSlot">
                <img src="{% static inventory.boots_info.path %}" width="64" height="64">
                <h2>{{inventory.boots_info.name}}</h2>
            </div>
        
            <div class="itemSlot">
                <img src="{% static inventory.staff_info.path %}" width="64" height="64">
                <h2>{{inventory.staff_info.name}}</h2>
            </div>
        
            <div class="itemSlot">
                <img src="{% static inventory.armor_info.path %}" width="64" height="64">
                <h2>{{inventory.armor_info.name}}</h2>
            </div>
        </div>

        <div class="movement_container">
            <div class="turn_left_container">
                <a href="{% url 'dungeon:dungeon_rotate' 'left'%}">
                    <img src="{% static 'dungeon/UI/turn_left.png' %}" width="64" height="64">
                </a>
            </div>

            <div class="go_forwards_container">
                {% if forwards %}
                <a href="{% url 'dungeon:dungeon_traverse' 'forwards' %}">
                    <img src="{% static 'dungeon/UI/up_arrow.png' %}" width="64" height="64">
                </a>
                {% else %}
                    <img src="{% static 'dungeon/UI/blank.png' %}" width="64" height="64">
                {% endif %}
            </div>

            <div class="turn_right_container">
                <a href="{% url 'dungeon:dungeon_rotate' 'right'%}">
                    <img src="{% static 'dungeon/UI/turn_right.png' %}" width="64" height="64">
                </a>
            </div>

            <div class="go_left_container">
                {% if left %}
                <a href="{% url 'dungeon:dungeon_traverse' 'left' %}">
                    <img src="{% static 'dungeon/UI/left_arrow.png' %}" width="64" height="64">
                </a>
                {% else %}
                    <img src="{% static 'dungeon/UI/blank.png' %}" width="64" height="64">
                {% endif %}
            </div>

            <div class="go_backwards_container">
                {% if backwards %}
                <a href="{% url 'dungeon:dungeon_traverse' 'backwards' %}">
                    <img src="{% static 'dungeon/UI/down_arrow.png' %}" width="64" height="64">
                </a>
                {% else %}
                    <img src="{% static 'dungeon/UI/blank.png' %}" width="64" height="64">
                {% endif %}
            </div>

            <div class="go_right_container">
                {% if right %}
                <a href="{% url 'dungeon:dungeon_traverse' 'right' %}">
                    <img src="{% static 'dungeon/UI/right_arrow.png' %}" width="64" height="64">
                </a>
                {% else %}
                    <img src="{% static 'dungeon/UI/blank.png' %}" width="64" height="64">
                {% endif %}
            </div>

        </div>

        <div class="player_info_container">
            <h1>{{inventory.username}}</h1>
            <label for="health_bar">Health: {{health}} / {{inventory.max_health}}</label>
            <progress value="{{health}}" max="{{inventory.max_health}}" id="health_bar">{{health}} / {{inventory.max_health}}</progress>


            <h4>Heal Cost (+{{heal_amount}} Health): {{heal_cost}} AP</h4>
            <h2><a href="{% url 'dungeon:heal' %}" class="button" id="heal_button">Heal</a></h2>

            <h3>Action Points: {{inventory.action_points}}</h3>
            <h4>Movement Cost: {{movement_cost}} AP</h4>
            <h4>Coins: {{inventory.coins}}</h4>
            {% if status %}
            <h4>Status: {{status}}</h4>
            {% else %}
            <h4>Status: You feel strong.</h4>
            {% endif %}

            {% if north %}
                <img src="{% static 'dungeon/UI/compass_north.png' %}" width="64" height="64">
            {% elif east %}
                <img src="{% static 'dungeon/UI/compass_east.png' %}" width="64" height="64">
            {% elif west %}
                <img src="{% static 'dungeon/UI/compass_west.png' %}" width="64" height="64">
            {% else %}
                <img src="{% static 'dungeon/UI/compass_south.png' %}" width="64" height="64">
            {% endif %}

            <h2><a href="{% url 'dungeon:dungeon_exit' %}" class="button" id="heal_button">Exit Dungeon</a></h2>
        </div>
    </div>
    

{% endblock %}